/* You can add global styles to this file, and also import other style files */
.altoPrecio{
    color: gray;
    font-size: 18px;
}

.fondoRojo{
    background: red;
}

.subrayado{
    text-decoration: underline;
}

.active{
    background: red;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

a{
    text-decoration: none;
    color: black;
}